{% extends "base.html" %}
{% load static %}
{% block title %}File Receiver{% endblock %}
{% block style %}
<style>
    

    input[type="text"] {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        width: 80%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>
<script>
    function scanQRCode() {
        // Get the video element
        var video = document.createElement('video');
        video.autoplay = true;

        // Get the media devices
        navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
            video.srcObject = stream;

            // Get the canvas element
            var canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;

            // Get the context of the canvas
            var context = canvas.getContext('2d');

            // Draw the video to the canvas
            setInterval(function () {
                context.drawImage(video, 0, 0, canvas.width, canvas.height);

                // Decode the QR code from the canvas
                var codeReader = new ZXing.BrowserQRCodeReader();
                codeReader.decodeFromCanvas(canvas).then(function (result) {
                    console.log(result.text);
                    stream.getTracks().forEach(function (track) {
                        track.stop();
                    });
                }).catch(function (error) {
                    console.log('Error decoding QR code', error);
                });
            }, 1000);
        }).catch(function (error) {
            console.log('Error opening camera', error);
        });
    }
</script>
{% endblock style %}

{% block body %}
<br class="mt-4">
<div class="container mt-5">
    <h1 class="text-light">File Receiver</h1>
    <form method="post" action="{% url 'receive' %}">
        {% csrf_token %}
        <label for="code">Enter 6-digit code:</label><br>
        <input type="text" id="code" name="code" maxlength="6"><br><br>
        <input type="submit" value="Submit">
    </form><br><br>
    <button onclick="scanQRCode()">Scan QR Code</button>
</div>

{% endblock body %}

{% block script%}
<script src="https://unpkg.com/@zxing/library@0.18.5"></script>
{% endblock script%}